*{
    text-indent: 2px;
}
.body{
    background-image: url('/images/tumblr_nqpijrft8o1qbmz7eo1_500_gif\ \(500×278\).gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 7% 12%;
}
.blocks{
    width: 100%;
    padding: 20px 0px;
    border: 4px solid #FFAFE7;
    border-radius: 39px;
    background-color: white;
    text-align: center; 
}
.toggle img {
    width:62px;
}
@media screen and (max-width:767px) {
    .blocks{
    width: 100%;
}
.toggle{
     width: 100%;
}
}

.board-main{
    height: 500px;
    overflow: auto; /* or scroll */
    scrollbar-width: none; /* for Firefox */
    padding: 0px 10px;
    border: 4px solid #FFAFE7;
    border-radius: 39px;
    background-color: white;
    text-align: center;
    background-color: pink;

}
.board-main::-webkit-scrollbar {
  display: none;
}
textarea.input-box{
    width: 100%;
    height: 300px;
    border: 4px solid #FFAFE7;
    border-radius: 39px;
    background-color: white;
    text-align: center;
    word-wrap: break-word;

}
.create-task{
    width: 300px;
}
.board-div{
    background-color: pink;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: red;
}